<mat-card>Registro de Cliente</mat-card>

<br>

<form class="example-form" [formGroup]="form" (ngSubmit)="operar()" #frmPersona="ngForm">

    <div [hidden]="true">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="ID" required formControlName="id">
      </mat-form-field>
    </div>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombres" required formControlName="nombres">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Apellidos" required formControlName="apellidos">
    </mat-form-field>
  
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="frmPersona.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
      </button>
      <button mat-raised-button color="warn" routerLink='/personas' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
      </button>      
    </div>
  </form>