<mat-card>
  <mat-card-content>
    <router-outlet></router-outlet>

    <mat-toolbar>Listado de Productos</mat-toolbar>
    
    <div class="example-container mat-elevation-28">
    
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar producto...">
            </mat-form-field>
        </div>
        
        <mat-table [dataSource]="listaDataSource" matSort> 
            <ng-container matColumnDef="idProducto">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
              <mat-cell *matCellDef="let fila"> {{fila.idProducto}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let fila"> {{fila.nombre}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="marca">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Marca </mat-header-cell>
              <mat-cell *matCellDef="let fila"> {{fila.marca}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
              <mat-cell *matCellDef="let fila">
                <div class="button-row">
                  <button mat-raised-button color="primary" (click)="abrirModal(fila)">Actualizar</button> 
                  <button mat-raised-button color="warn" (click)="eliminar(fila.idProducto)">Eliminar</button>
                </div>
              </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="columnasMostradas"></mat-header-row>
            <mat-row *matRowDef="let fila; columns: columnasMostradas;">
        
            </mat-row>
          </mat-table>
    
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantRegistros" (page)="mostrarMas($event)" ></mat-paginator>
    </div>
    
    <br>
    
    <button mat-fab color="primary" style="float: right;" (click)="abrirModal()">
        <mat-icon>create</mat-icon>
    </button>    
  </mat-card-content>
</mat-card>