<div class="example-container">
  <!-- creamos el toolbar  -->
  <mat-toolbar color="primary" class="example-toolbar">
    <!-- botones para abrir y cerrar menu    -->
    <button mat-icon-button (click)="sidenav.toggle()"> <!-- con el evento dentro del evento click con la funcion sidenav.toggle() abrimos/cerramos el menu-->
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

      <!-- nombre de la aplicacion en el toolbar -->
      <h1 class="app-title">SALES APP</h1>

      <span class="example-spacer"></span>

      <!-- boton de menu de opciones (tres puntitos verticales) -->
      <button mat-icon-button [matMenuTriggerFor]="menu"> <!--Le llamamos al menu con este trigger, el menu esta anotado con #menu-->
          <mat-icon>more_vert</mat-icon>
      </button>
      <!-- menu que aparece al darle click al boton de los tres puntitos -->
      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/perfil">
              <mat-icon>account_box</mat-icon>
              <span>Mi Perfil</span>
          </button>
          <button mat-menu-item routerLink="/login" (click)="sidenav.opened = false">
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
          </button>
      </mat-menu>
  </mat-toolbar>

  <!-- para la creacion del menu comenzamos primeramente con el contenedor -->
  <mat-sidenav-container class="example-sidenav-container" >
      <!-- este seria el menu en si -->
      <mat-sidenav #sidenav mode="side" style="width: 200px" >
          <!-- mostramos una imagen en el menu -->
          <!-- <img src="assets/ventas.png" width="64"> -->
          <!-- y asi configuramos cada opcion de menu -->
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/buscar" style="cursor: pointer" >
              <mat-icon>search</mat-icon>
              <span>Buscar</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/ventas" style="cursor: pointer" >
              <mat-icon>shopping_cart</mat-icon>
              <span>Ventas</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/personas" style="cursor: pointer" >
              <mat-icon>accessibility</mat-icon>
              <span>Clientes</span>
          </button>          
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/productos" style="cursor: pointer" >
              <mat-icon>layers</mat-icon>
              <span>Productos</span>
          </button>          
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/reportes" style="cursor: pointer" >
              <mat-icon>assessment</mat-icon>
              <span>Reportes</span>
          </button>
      </mat-sidenav>
      <!-- y aqui se reemplazaran los componentes -->
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>

  </mat-sidenav-container>
</div>