.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-sidenav-container {    
    flex: 1;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .app-title {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 0 13px 0 148px;
    border: 1px solid rgba(0,0,0,0);
    -webkit-border-radius: 33px;
    border-radius: 33px;
    font: italic normal normal 35px/normal "Trebuchet MS", Helvetica, sans-serif;
    color: rgba(130,223,242,0.9);
    text-align: right;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: url("http://enjoycss.com/bg-img/custom/98808-6qhtmv.eqvot.png"), rgb(255,255,255);
    background-position: 43% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: 2px 1px 0 rgba(15,12,12,1) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  }