<mat-card>
  <mat-card-content>
    <router-outlet></router-outlet>

    <div class="example-container mat-elevation-28" *ngIf="route.children.length === 0">
    
      <mat-toolbar>Listado de Clientes</mat-toolbar>
    
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar cliente...">
        </mat-form-field>
      </div>
    
      <mat-table [dataSource]="listaDataSource" matSort>
        <ng-container matColumnDef="idPersona">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.idPersona}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="nombres">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.nombres}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="apellidos">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.apellidos}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let fila">
              <div class="button-row">
                <button mat-raised-button color="primary" [routerLink]="['edicion',fila.idPersona]">Actualizar</button>
                <button mat-raised-button color="warn" (click)="eliminar(fila.idPersona)">Eliminar</button>
              </div>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="columnasMostradas"></mat-header-row>
        <mat-row *matRowDef="let fila; columns: columnasMostradas;">
    
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantRegistros" (page)="mostrarMas($event)"></mat-paginator>
    </div>
    
    <br>
    
    <button mat-fab color="primary" style="float: right;" routerLink="/personas/nuevo">
      <mat-icon>create</mat-icon>
    </button>  
  </mat-card-content>
</mat-card>