<mat-toolbar>Registro de Producto</mat-toolbar>

<br>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Nombre..." [(ngModel)]="registro.nombre">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Marca..." [(ngModel)]="registro.marca">
  </mat-form-field>
</div>

<div class="button-row">
  <button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
  <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
</div>

